{% load staticfiles %} {% load blog_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>跬步郎的博客</title>
    <!-- meta -->
    <meta name="baidu_union_verify" content="d1397b82ae6c894eac3a8108d2dc9c40">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="跬步郎的小步人生路">
    <meta name="keywords" content="跬步郎,Python,信息系统项目管理，smallstepser">
    <meta name="author" content="跬步郎">
    <meta name="founder" content="王聪">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/site.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!--[if IE 9]>
    <script src="https://cdn.bootcss.com/geopattern/1.2.3/js/base64.min.js"></script>
    <script src="https://cdn.bootcss.com/geopattern/1.2.3/js/typedarray.min.js"></script>
<![endif]-->
    <!--
    <style>
        span.highlighted {
            color: red;
        }
    </style>
    -->
</head>

<body class="home-template">
    <div class="container">
        <header class="site-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="cl-effect-11"><a href="{% url 'blog:index' %}">首页</a></li>
                    <li class="cl-effect-11"><a href="about.html">关于</a></li>
                    <li class="cl-effect-11"><a href="contact.html">联系</a></li>
                </ul>
            </div>
            <div class="container jumbotron">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>跬步郎的博客
                            <img src="{% static 'blog/img/bootcdn.png' %}" alt="smallstepser_blog" class="hidden">
                        </h1>
                        <p>--smallstepser的小步人生路</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    {% block main %} {% endblock main %}
                </main>
                <aside class="col-md-4">
                    {% block toc %} {% endblock toc %}
                </aside>
                <aside class="col-md-4">
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">最新文章</h3>
                        {% get_recent_posts as recent_post_list %}
                        <ul>
                            {% for post in recent_post_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </li>
                            {% empty %} 暂无文章！ {% endfor %}
                        </ul>
                    </div>
                    <!--
                    <div class="widget widget-archives">
                        <h3 class="widget-title">归档</h3>
                        {% archives as date_list %}
                        <ul>
                            {% for date in date_list %}
                            <li>
                                <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月 </a>
                            </li>
                            {% empty %} 暂无归档！ {% endfor %}
                        </ul>
                    </div>
                                        -->
                    <div class="widget widget-category">
                        <h3 class="widget-title">分类</h3>
                        {% get_categories as category_list %}
                        <ul>
                            {% for category in category_list %}
                            <li>
                                <a href="{% url 'blog:category' category.pk %}">{{ category.name }}<span class="post-count">(13)</span></a>
                                <span class="post-count">{{ category.num_posts }}</span>
                            </li>
                            {% empty %} 暂无分类！ {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget-tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        {% get_tags as tag_list %}
                        <ul>
                            {% for tag in tag_list %}
                            <li>
                                <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                            </li>
                            {% empty %} 暂无标签！ {% endfor %}
                        </ul>
                    </div>
                    <!--
                    <ul class="comment-list list-unstyled">
                        {% for comment in comment_list %}
                        <li class="comment-item">
                            <span class="nickname">{{ comment.name }}</span>
                            <time class="submit-date">{{ comment.created_time }}</time>
                            <div class="text">
                                {{ comment.text }}
                            </div>
                        </li>
                        {% empty %} 暂无评论 {% endfor %}
                    </ul>
                    <div class="rss">
                        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                    -->
                </aside>
            </div>
        </div>
    </div>
    <div class="container">
        <footer id="footer" class="footer hidden-print">
            <div class="container">
                <div class="row">
                    <div class="footer-about col-md-6 col-sm-12" id="about">
                        <h4>个人简介</h4>
                        <p>这里是个人说明，</p>
                        <p>可以将简单的个人介绍写在这里</p>
                    </div>
                    <div class="footer-links col-md-4 col-sm-12">
                        <h4>友情链接</h4>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a>
                            </li>
                            <li>
                                <a href="http://www.ghostchina.com/" target="_blank">Ghost中国</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-techs col-md-2 col-sm-12">
                        <h4>我的作品</h4>
                        <ul class="list-unstyled list-inline">
                            <!--
                            <li>
                                <a href="http://www.bootcss.com/" target="_blank">Bootstrap</a>
                            </li>
                            <li>
                                <a href="http://www.ghostchina.com/" target="_blank">Ghost</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="copy-right">
                        <span>备案号：辽ICP备18008917号</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Mobile Menu 
    <div class="overlay overlay-hugeinc">
        <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
        <nav>
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="full-width.html">博客</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </nav>
    </div>
-->
    <!--    <script src="blog/js/script.js"></script>-->
    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'blog/js/geopattern.min.js' %}"></script>
    <script src="{% static 'blog/js/clipboard.min.js' %}"></script>
    <script src="{% static 'blog/js/localforage.min.js' %}"></script>
    <script src="{% static 'blog/js/lodash.min.js' %}"></script>
    <!--
    <script src="{% static 'blog/js/hm.js' %}"></script>
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/site.min.js' %}"></script>
    -->
</body>

</html>